@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    width: 83%;
    max-width: 75rem;
    margin: 0px auto;
    padding-top: 6rem;
}

main {
    width: 83%;
    max-width: 75rem;
    margin: 0px auto;
}

section {
    margin-top: 6rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-title {
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;

}

ul {
    list-style: none;
    display: flex;
}

li>a {
    margin-left: 30px;
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.banner {
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;


}

.banner-content {
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
}

.banner-title {

    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    /* 134.615% */
}

.banner-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 4rem;
}

.Popular-title {
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    /* 250% */
}

.product-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}


.product-container>h1 {
    color: #18191F ;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    /* 142.857% */
}
.poduct-container>h3{
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Poppins', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */

}
.product-container>p{
   
    width: 10rem;
    color: #787885;
    font-family: 'Poppins', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 143%; /* 20.02px */
letter-spacing: 0.252px;
padding-bottom: 2rem;
}
.see-more{
    color: rgba(224, 44, 109, 0.87);
font-feature-settings: 'clig' off, 'liga' off;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 700;
float: right;
margin-right:100px ;
}
.Featured-products{
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}
.feature-image-content>h1{
    color: #0A0826;
font-feature-settings: 'clig' off, 'liga' off;
font-family: 'Poppins', sans-serif;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 157.895% */
}
.feature-image-content>p{
    color: #6C6C6C;
font-feature-settings: 'clig' off, 'liga' off;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 175% */
}
.feature-image-content>button{
    display: inline-flex;
padding: 10px 24px;
align-items: flex-start;
gap: 8px;
background: #E02C6D;
border: none;
color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 26px 0px;

}
footer{
    margin-top: 6rem;
    background: #0A0826;
    color: #FFF;
   

}
.footer-content{
    padding: 4rem;
    text-align: center;
}
footer>h1{

    font-family: 'Poppins', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.icon>img{
    width: 2rem;
    height: 2rem;
    padding: 2rem;
}







@media screen and (max-width:800px) {
    header {
        padding-top: 20px;
    }

    .header {
        display: block;

    }

    .header-title {
        text-align: center;
    }

    ul {
        visibility: hidden;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-content {
        text-align: center;
    }

    .logo-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1rem 4rem;
    }
    .product-image-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      
        
    }
    .product-container{
        margin: auto;
       
    }
    .Featured-products{
       flex-direction: column-reverse;
       gap: 1rem;
       text-align: center;
    }
    .feature-image-content>button{
        width: 150px;
        margin: 10px 0px;
        
    }
}